[submodule "CLVsol/clvsol_clvhealth_pharm"]
	path = CLVsol/clvsol_clvhealth_pharm
	url = git@github.com:CLVsol/clvsol_clvhealth_pharm.git
	branch = 10.0

[submodule "CLVsol/clvsol_odoo_addons_pharm"]
	path = CLVsol/clvsol_odoo_addons_pharm
	url = git@github.com:CLVsol/clvsol_odoo_addons_pharm.git
	branch = 10.0

[submodule "OCA/vertical-medical"]
	path = OCA/vertical-medical
	url = git@github.com:OCA/vertical-medical.git
	branch = 10.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 10.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 10.0

[submodule "CLVsol/clvsol_odoo_addons"]
	path = CLVsol/clvsol_odoo_addons
	url = git@github.com:CLVsol/clvsol_odoo_addons.git
	branch = 10.0

[submodule "CLVsol/clvsol_clvhealth_jcafb"]
	path = CLVsol/clvsol_clvhealth_jcafb
	url = git@github.com:CLVsol/clvsol_clvhealth_jcafb.git
	branch = 10.0

[submodule "CLVsol/clvsol_odoo_addons_jcafb"]
	path = CLVsol/clvsol_odoo_addons_jcafb
	url = git@github.com:CLVsol/clvsol_odoo_addons_jcafb.git
	branch = 10.0

[submodule "CLVsol/clvsol_odoo_addons_pbm"]
	path = CLVsol/clvsol_odoo_addons_pbm
	url = git@github.com:CLVsol/clvsol_odoo_addons_pbm.git
	branch = 10.0

[submodule "CLVsol/MassEditing"]
	path = CLVsol/MassEditing
	url = git@github.com:CLVsol/MassEditing.git
	branch = 10.0

[submodule "CLVsol/addons-onestein"]
	path = CLVsol/addons-onestein
	url = git@github.com:CLVsol/addons-onestein.git
	branch = 10.0
